<div class="container">
  <div class="banner">
    <img src="assets/imgs/actnow/banner.png" />
  </div>
  <div class="title">
    <p>ACTnow Foundation - Junior Web Developer</p>
  </div>
  <div class="subtitle">
    <p>From June 2020 - August 2020</p>
  </div>
  <div class="grid-halves">
    <div class="col-small">
      <div class="box">
        <p class="text-body">The Act Now Foundation is a non-profit formed by volunteers
          with the express purpose of providing COVID-19 test kits to those in need.
        </p>
      </div>
      <div class="box">
        <div class="title-left">
          <p>Platform:</p>
        </div>
        <div class="container-row">
          <img class="icons" src="assets/imgs/icons/icon-angular.png" />
          <img class="icons" src="assets/imgs/icons/icon-typescript.png" />
        </div>
        <div class="container-row">
          <img class="icons-bg" src="assets/imgs/icons/icon-gcp.png" />
        </div>
        <div class="container-row">
          <img class="icons-bg" src="assets/imgs/icons/icon-nodejs.png" />
        </div>
      </div>
      <div class="box">
        <div class="title-left">
          <p>Team: </p>
        </div>
        <p class="text-body">
          A team of volunteers from all over the world collaborated together remotely in the
          designing, developing, testing, and deployment of the ACTnow COVID-19 teskit website.
        </p>
        <p class="text-body">
          The website built on Angular features a back end admin area with the ability to view and modify customer orders.
          It uses PayPal APIs to create and execute orders, and ShipBob APIs for inventory and order management.
          Most importantly the website has an option to grant certain people free COVID-19 test kits through our questionnaire.
        </p>
      </div>
    </div>
    <div class="col-large">
      <img class="pics" src="assets/imgs/actnow/actnow-bg.png" />
      <img class="pics" src="assets/imgs/actnow/actnow-2.png" />
    </div>
  </div>
</div>

