<div class="container">
  <div class="banner">
    <img class="pic" src="assets/imgs/actnow/banner1.png" />
    <img class="pic" src="assets/imgs/actnow/banner2.png" />
  </div>
  <div class="title">
    <p><a class="link" href="https://actnow.foundation">ACTnow Foundation</a> - Junior Web Developer</p>
  </div>
  <div class="subtitle">
    <p>From June 2020 - August 2020</p>
  </div>
  <div class="grid-halves">
    <div class="col">
      <div class="box">
        <p class="text-body">My first professional experience came from working as a Junior developer for the ACTnow foundation.
          I worked alongside developers from Screamingbox LLC, to create an AngularJS web app with functionality for ordering,
          checking order status, and requesting free COVID-19 antibody test kits.
        </p>
      </div>
      <div class="box">
        <div class="title-left">
          <p>Contribution:</p>
        </div>
        <p class="text-body">I collaborated with senior developers to implement payments with PayPal APIs, inventory management using ShipBob, and emailing list through sendgrid.</p>
          <ul>
            <li>One of my roles was to create a form for users to request free test kits. I designed and implemented a reactive form using DOM events and unidirectional data flow to 
              create a request object and send it to our backend.</li>
            <li>I created email templates to be sent to users through different points of the ordering process.</li>
            <li>I redesigned the sites layout for a more intuitive flow as well as creating CSS for the mobile website.</li>
          </ul>
      </div>
      <div class="box">
        <div class="title-left">
          <p>Platform:</p>
        </div>
        <div class="container-row">
          <img class="icons" src="assets/imgs/icons/icon-angular.png" />
          <img class="icons" src="assets/imgs/icons/icon-typescript.png" />
        </div>
        <div class="container-row">
          <img class="icons-bg" src="assets/imgs/icons/icon-gcp.png" />
        </div>
        <div class="container-row">
          <img class="icons-bg" src="assets/imgs/icons/icon-nodejs.png" />
        </div>
      </div>
      <img class="pics" src="assets/imgs/actnow/paypal.png" />
      <div class="box">
        <div class="title-left">
          <p>Team: </p>
        </div>
        <p class="text-body">
          A team of volunteers from all over the world collaborated together remotely in the
          designing, developing, testing, and deployment of the ACTnow COVID-19 teskit website.
        </p>
        <p class="text-body">
          The website built on Angular features a back end admin area with the ability to view and modify customer orders.
          It uses PayPal APIs to create and execute orders, and ShipBob APIs for inventory and order management.
          Most importantly the website has an option to grant certain people free COVID-19 test kits through our questionnaire.
        </p>
      </div>
    </div>
    <div class="col">
      <img class="pics shrink" src="assets/imgs/actnow/actnow-bg.png" />
      <div class="box">
        <app-survey></app-survey>
      </div>
      
    </div>
  </div>
</div>


