.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #fafafa;
  margin-bottom: 24px;
}

.container-inner {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #fafafa;
}

.container-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  background-color: white;
}

.icons {
  padding: 10px;
  max-width: 75px;
}

.icons-bg {
  margin: 12px;
  max-width: 196px;
}

.pics {
  margin-bottom: 12px;
  width: 100%;
  border-radius: 5px;
}

.shrink {
  max-width: 535px;
}

.title {
  font-size: 24px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.title-left {
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.subtitle {
  font-size: 16px;
  font-weight: lighter;
  color: #858383;
  text-align: center;
}

.text-body {
  font-size: 16px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}
ul {
  font-size: 16px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 10px;
}

.banner {
  margin: 30px;
  .pic {
    margin-bottom: 12px;
    max-width: 100%;
    border-radius: 5px;
  }

}

.grid-halves {
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;

  .col {
    display: flex;
    flex-flow: column;
    width: 45%;
    margin: 10px;
  }

  .col-small {
    display: flex;
    width: 35%;
    flex-flow: column;
    margin: 10px;
  }

  .col-large {
    display: flex;
    flex-flow: column;
    margin: 10px;
  }
}

.icon-list {
  list-style: none;
}

.list-item {
  display: flex;
  flex-flow: row;
}

.box {
  text-align: justify;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  border-width: 2px;
  height: fit-content;
  padding: 10px;
  margin-bottom: 10px;
}
