<div class="container">
  <div class="banner">
    <img src="assets/imgs/actnow/banner.png" />
  </div>
  <div class="title">
    <p>Junior Web Developer</p>
  </div>
  <div class="subtitle">
    <p>From June 2020 - August 2020</p>
  </div>
  <div class="grid-halves">
    <div class="col-small">
      <p class="text-body">On the ACTnow team I collaborated directly with remote development teams to design,
        produce, and deploy a website for providing cheap and free COVID-19 test kits to those in need</p>

    </div>
    <div class="col-large">
      <img src="assets/imgs/actnow/desc.png" />
    </div>
  </div>
</div>

