<div class="container">
    <div class="top-row">
        <div class="grid-halves">
            <div class="col">
                <img class="profile-pic" src="assets/imgs/me.jpg">
            </div>
            <div class="col">
                <div class="tagline">
                    <p class="main">Bala Carter</p>
                    <p class="sub">Junior Developer</p>
                </div>
                <div>

                </div>
                <div class="container-row">
                    <a href="https://www.linkedin.com/in/bala-carter-a9477a179/"><img class="icons" src="assets/imgs/icons/icon-linkedin.png"></a>
                    <a href="https://github.com/balacarter"><img class="icons" src="assets/imgs/icons/icon-github.png"></a>
                </div>
            </div>
        </div>
        
    </div>

    <div class="container-row spaced">
        <div class="box">
            <div class="header">
                <p class="title">My Story</p>
            </div>
            <div class="box-body">
                <p class="text-body">Hi there! I'm Bala, 24, junior developer, living in Los Angeles. I moved to America almost 16 years ago with my family from South Africa.
                    We came for the same reason everyone does: A chance at the American dream. I started working when I was 10 years old helping my dad run his small bussiness
                    selling oil paintings at malls thorughout Southern California, and have kept working through highschool and college.<br><br>On my 20th birthday I moved out 
                    with my then girlfriend to Los Angeles where she had gotten accepted to UCLA and I started at Pasadena City College. We both took full time jobs and worked 
                    to support ourselves while going to school. I lived and worked for 3 years under the table without papers before marrying my girlfriend and getting my green card. 
                    I am now at University doing my senior year of computer science, and in pursuit of my first job in the industry.
                </p>
            </div>
        </div>
        <div class="box">
            <div class="header">
                <p class="title">My Education</p>
            </div>
            <div class="box-body">
                <div class="education">
                    <p class="heading">Cal State LA</p>
                    <p class="sub-heading">Computer Science<br>August 2018 - May 2021</p>
                    <p class="text-body">Deans list 2 semesters - 3.4 overall GPA</p>
                </div>
                <div class="education">
                    <p class="heading">Pasadena City College</p>
                    <p class="sub-heading">General Ed<br>August 2016 - June 2018</p>
                    <p class="text-body">Deans list 2 semesters - 3.3 overall GPA</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="header">
                <p class="title">My Goals</p>
            </div>
            <div class="box-body">
                <div class="goal">
                    <p class="header-sm">Short term goals:</p>
                    <p class="text-body">I want to find an internship/junior position as a web developer or software engineer. 
                        My ideal position would be one that I could learn a lot in and grow with to become a core part of the team.</p>
                </div>
                <div class="goal">
                    <p class="header-sm">Long term goals:</p>
                    <p class="text-body">Once I find my self settled and established, I want to focus my time, money, and energy into providing STEM classes to schools in low income neighborhoods.
                    As someone who grew up in a low income household and never had acess to STEM classes until college, I feel very strongly about this issue. I truly believe that helping students 
                    get access to STEM classes will help them go to college and work in fields that would never have been available to them.</p>
                </div>
                
            </div>
        </div>
    </div>
    <div class="block">
        <div class="header">
            <p class="title">Contact Me</p>
        </div>
        <div class="container">
            
        </div>
    </div>
    
</div>
