<div class="container">
    <div class="top-row">
        <div class="grid-halves">
            <div class="col">
                <img class="profile-pic" src="assets/imgs/me.jpg">
            </div>
            <div class="col">
                <div class="tagline">
                    <p class="main">Bala Carter</p>
                    <p class="sub">Junior Developer</p>
                </div>
                <div>

                </div>
                <div class="container-row">
                    <a href="https://www.linkedin.com/in/bala-carter-a9477a179/"><img class="icons" src="assets/imgs/icons/icon-linkedin.png"></a>
                    <a href="https://github.com/balacarter"><img class="icons" src="assets/imgs/icons/icon-github.png"></a>
                    <a href=""><img class="icons" src=""></a>
                    <a href=""><img class="icons" src=""></a>
                </div>
            </div>
        </div>
        
    </div>

    <div class="container-row spaced">
        <div class="box">
            <div class="header">
                <p class="title">My Story</p>
            </div>
            <div class="box-body">
                <p class="text-body">This is sample text for my story because i want to see how the line wraps under the header and I am not sure about the header 
                co0lor but we shall see I guess. I'm kinda boredf of white and gray</p>
            </div>
        </div>
        <div class="box">
            <div class="header">
                <p class="title">My Education</p>
            </div>
            <div class="box-body">
                <p class="text-body">This is sample text for my story because i want to see how the line wraps under the header and I am not sure about the header 
                co0lor but we shall see I guess. I'm kinda boredf of white and gray</p>
            </div>
        </div>
        <div class="box">
            <div class="header">
                <p class="title">My Goals</p>
            </div>
            <div class="box-body">
                <p class="text-body">This is sample text for my story because i want to see how the line wraps under the header and I am not sure about the header 
                co0lor but we shall see I guess. I'm kinda boredf of white and gray</p>
            </div>
        </div>
    </div>
    
</div>
