  .profile-pic {
      border-radius: 50%;
      max-width: 60%;
      min-width: 200px;
      margin-left: auto;
      margin-right: auto;
      display: block;
  }

  .tagline {
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
    text-align: center;
    .sub {
      font-size: 16px;
      font-weight: 400;
      color: gray;
    }
  }

  .education {
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 10px;
    padding: 10px;

    text-justify: auto;
    justify-content: center;
    .heading {
      font-size: 16px;
      color: black;
    }
    .sub-heading {
      font-size: 14px;
      color: gray;
    }
    .ul {
      line-height: 10px;
    }

  }
  

  .icons {
    width: 30px;
    margin-left: 10px;
  }
  .spaced {
    justify-content: space-around;
    padding-bottom: 100px;
  }
  .box {
    width: 300px;
    padding: 0;
    margin-bottom: 15px;
    height: auto;
    .header{
      background-image: url("/assets/imgs/box-header.png");
      min-width: 300px;
      min-height: 60px;

      margin-bottom: 5px;
      .title {
        text-align: center;
        padding-top: 15px;
        color: white;
      }
    }

    
  }