<div class="flex-container">
  <mat-tab-group class="top-bar">
    <mat-tab label="ACTnow Foundation">
      <ng-template matTabContent class="flex-container">
        <app-actnow></app-actnow>
      </ng-template>
    </mat-tab>
    <mat-tab label="Video Game Mods">
      <ng-template matTabContent>
        <app-actnow></app-actnow>
      </ng-template>
    </mat-tab>
    <mat-tab label="Python Projects">
      <ng-template matTabContent>
        <app-actnow></app-actnow>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
