<form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
    <mat-form-field appearance="standard" class="input-field">
        <mat-label>Name:</mat-label>
        <input matInput placeholder="your name" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="standard" class="input-field">
        <mat-label>Email:</mat-label>
        <input matInput type="email" placeholder="your email" formControlName="email">
    </mat-form-field>
    <p></p>
    <mat-form-field appearance="standard" class="message-field">
        <mat-label>Message:</mat-label>
        <textarea matInput placeholder="your message..." formControlName="message"></textarea>
    </mat-form-field>
    <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">Submit</button>
</form>